<form action="/create_subscription_from_feed" method="post">

  <input type="hidden" name="feed_id" value="<%= @feed.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create subscription
  </button>
</form>
