<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Totals

    <a data-toggle="collapse" href="#profile_totals_new_form">
      Add total
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @profile.totals.each do |total| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/totals/<%= total.id %>">
          <%= total.profile_id %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_total_from_profile/<%= total.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="profile_totals_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
