<h1>
  Edit profile #<%= @profile.id %>
</h1>

<hr>

<!-- Form profile start -->
<form action="/update_profile/<%= @profile.id %>" method="post">
<!-- Form profile end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <input type="text" id="user_id" name="user_id" class="form-control" value="<%= @profile.user_id %>">
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for personal_lift_totals start -->
  <div class="form-group">
    <label for="personal_lift_totals">
      Personal lift totals
    </label>

    <!-- Input for personal_lift_totals start -->
    <input type="text" id="personal_lift_totals" name="personal_lift_totals" class="form-control" value="<%= @profile.personal_lift_totals %>">
    <!-- Input for personal_lift_totals end -->
  </div>
  <!-- Label and input for personal_lift_totals end -->

  <button class="btn btn-block btn-outline-secondary">
    Update profile
  </button>
</form>

<hr>

<a href="/profiles">
  Go back
</a>
