<h1>
  Edit profile #<%= @profile.id %>
</h1>

<hr>

<form action="/update_profile/<%= @profile.id %>" method="post">


  <div class="form-group">
    <label for="personal_lift_totals">
      Personal lift totals
    </label>

    <input type="text" id="personal_lift_totals" name="personal_lift_totals" class="form-control" value="<%= @profile.personal_lift_totals %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update profile
  </button>
</form>

<hr>

<a href="/profiles">
  Go back
</a>
